[Unit]
Description=MyDaemon
After=syslog.target
Requires=syslog.target

[Service]
Type=forking
PIDFile=/tmp/MyDaemon.pid
WorkingDirectory=/

User=MyDaemon
Group=MyDaemon

OOMScoreAdjust=-1000

ExecStart=/usr/local/bin/bundle
TimeoutSec=300

[Install]
WantedBy=multi-user.target
